[profile.release]
opt-level = 3
lto = "fat"
panic = 'abort'
codegen-units = 1
strip = true

[profile.bench]
inherits = "release"

[workspace]
resolver = "2"
members = [
    "lib",
    "samples",
    "bench",
    "test_suite",
    ]